/* Grid container overrides */

/*  Tablet and up   */
@media (max-width: 767px) {
  .hide-mb {
    display: none;
  }
}

/*  Desktop and up   */
@media (min-width: 768px) {
  .hide-tab {
    display: none;
  }
}

/*===========================*/

/*
    Box sizing: border box fix to make life easier.
    Ref: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*===========================*/

body {
    color: #424242;
    background-color: white;

    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
.font--heavy {
    font-weight: 400;
}
.font--large {
    font-size: 1.25rem;
}
.text--center {
    text-align: center;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section.hero {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 0;
    margin-bottom: 0;

    background-size: cover;
    background-image: url("../images/clouds2.jpg");
    background-position: center;
}
.section.hero.dark-theme {
    background-image: url("../images/nebula2.jpg");
}

.section.devlog {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.25);
}

/* Theming Stuff */
.themable {
    /* http://stackoverflow.com/questions/7302824/animating-addclass-removeclass-with-jquery */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.dark-theme {
    color: #EEE;
    background-color: #5C5C5C;
}

#theme-switch {
    position: fixed;
    top: 1rem;
    right: 1rem;

    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-image: url('../images/yinyang.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
}
#theme-switch.dark-theme {
    transform: rotate(180deg);
}


img.responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
img.rounded {
    border-radius: 50% 50% 50% 50%;
}

img.about-badge {
    height: 7rem;
}

#user {
    height: 10rem;
}

@media (max-width: 768px) {
    .section.hero {
        text-align: center;
    }
}

#hero-name {
    font-size: 3rem;
    font-family: 'Play', sans-serif;
}
#hero-ticker li {
    list-style-type: none;

    font-size: 2rem;
    font-family: 'Play', sans-serif;
}
#hero-ticker > ul {
    width: 100%;
}

/* Low screen size font fix */
@media (max-width: 767px) {
    #hero-name {
        font-size: 2.2rem;
    }
    #hero-ticker li {
        font-size: 1.5rem;
    }
}

#dev-log {
    display: none;
    padding: 8px;
    border-radius: 4px;
}

#dev-log-toggle {
    padding: 4px;
    background-color: #DDD;
    border: 0;
    border-radius: 2px;
    color: #222;
}
#dev-log-toggle:hover {
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.25);
}
#dev-log-toggle:active {
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.25);
}

.valign-content {
    display: table-cell;
    vertical-align: middle;
}
